@import url('normalize.css');

@import url('default.css');

/* USER CONTENT
==============================================
*/

#registration{
	border-left: 1px solid rgba(254,247,189,1);
}

#registration-content{
	float: right;
}

form{
	margin-top: 20px;
	margin-bottom: 25px;
}

.button{
	width: 180px;
	height: 30px;
	cursor: pointer;
	font-size: 1.5em;
	text-decoration: none;
	outline: none;
	font-family:  "Helvetica Condensed", "Lato", Helvetica, sans-serif;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-ms-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-o-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	color: rgba(255,255,255,1);
	border: none;
	background: #b2c31c;
	background: -webkit-gradient(linear, left top, left bottom, from(#d7e449), to(#829200));
	background: -moz-linear-gradient(top,  #d7e449,  #829200);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#d7e449', endColorstr='#829200');
  line-height: 34px;
}

.button:active {
	position: relative;
	background: #b2c31c;
	background: -webkit-gradient(linear, left top, left bottom, from(#829200), to(#d7e449));
	background: -moz-linear-gradient(top,  #829200,  #d7e449);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#829200', endColorstr='#d7e449');
}

label{
	width: 120px;
	font-size: 1.3em;
	float: left;
	padding-left: 10px;
	margin-top: 13px;
	padding-bottom: 10px;
}

label.herhaal{
	margin-top: 1px;
}

#content input[type=text], #content input[type=email], input[type=password]{
	width: 270px;
	height: 30px;
	font-family: "Helvetica Condensed", "Lato", Helvetica, sans-serif;
	font-size: 1.2em;
	color: rgba(14,138,111,1);
	border: none;
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

fieldset{
	width: 420px;
	border: none;
	background-color: #BFD142;
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

#fblogin{
    float: right;
    margin-top: 3px;
    width: 53%;   
}

.facebook{
    cursor: pointer;
}